*{
    background-color: aliceblue; 
    margin:0;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: center;

}
.container{
    font-size: 24px;
    width: 70%;
    height: 20%;
    background-color: #65b3c2;
    border: 1px solid #51bacf;
    padding: 20px;
    margin: 20px;
}