*{

    display: 0%;
    font-family: Arial, Helvetica, sans-serif;

}

#contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    width: 30%;
    height: 10%;
    background-color: white;
    border-radius: 25px;
    border: solid #9c9b9b 2px;
    text-align: center;

}

header{

    height: 10%;
    padding: 10px 0 10px 0; 
    color: black;

}

footer{
    display: flex;
    flex-direction: row;
    height: 20%;
    padding: 10px 0 10px 0; 

}

.labels{
    display: flex;
    flex-direction: column;

}

label{
    margin-top: 19px;
}

section{
    display: flex;
    flex-direction:column;
    text-align: justify;
    height: 70%;
    padding: 10px 10px 10px 120px;

}

article{
    display: flex;
    flex-direction:row ;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin: 7px;
    margin-left: 20px;
    margin-top: 10px;
    width: 70%;
    padding: 3px;
    border-radius: 3px;
    border-color: #9c9b9b;

}

input:hover{

    border-color: black;

}

button{

    padding: 10px 20px 10px 20px;
    width: 50%;
    margin: 5px;
    margin-top: 50px;
    border-radius: 3px;
    background-color: #1bc0bd;
    color: white;
    font-weight: bold;
    border-color: solid black;

}

button:hover{

    color: black;
    font-weight: bold;

}